<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BoDi" version="1.5.0" targetFramework="net472" />
  <package id="JetBrains.dotCover.CommandLineTools" version="2022.3.1" targetFramework="net472" developmentDependency="true" />
  <package id="SpecFlow" version="4.0.16-beta" targetFramework="net472" />
  <package id="SpecFlow.NUnit" version="4.0.16-beta" targetFramework="net472" />
  <package id="SpecFlow.Tools.MsBuild.Generation" version="4.0.16-beta" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Cucumber.CucumberExpressions" version="16.1.1" targetFramework="net472" />
  <package id="FluentAssertions" version="6.9.0" targetFramework="net472" />
  <package id="Gherkin" version="26.0.3" targetFramework="net472" />
  <package id="NUnit" version="3.13.3" targetFramework="net472" />
  <package id="NUnit.ConsoleRunner" version="3.16.2" targetFramework="net472" />
  <package id="SpecFlow.Internal.Json" version="1.0.8" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
</packages>